*.txt
!/plugins/conversations/yesno.txt
!/plugins/anime/sleep.txt
*.json
*.log
!/plugins/utilities/i18n/*
/plugins/utilities/i18n/settings.json
/plugins/anime/images/*
/plugins/maths/output/*
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
